:root {
  /* color */
  --color-white: #ffffff;
  --color-hover-gray: #f0f2f3;
  --color-active-gray: #e0e4e8;
  --color-button-blue: #024eee;
  --color-input-border: #dedede;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  border: none;
  background-color: none;
  cursor: pointer;
}

input {
  border: none;
  outline: none;
}

ul {
  list-style: none;
}
